@* @using HelloWorld.Data
@inject HelloWorldContext _context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloWorld.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        @{
            var activeAlert = _context.Alert.FirstOrDefault(a => a.IsActive && a.PublishDate <= DateTime.Now && a.ExpDate >= DateTime.Now);
            if (activeAlert != null)
            {
                <div id="alertBar" class="navbar navbar-dark bg-dark border-bottom box-shadow text-white">
                    <div class="mx-3" align="justify">
                        IMPORTANT: @activeAlert.Message
                        <a href="@activeAlert.Link" class="mx-4">Know more -></a>
                    </div>
                    <span class="close-btn mx-4" style="cursor:pointer">&times;</span>
                </div>
            }
        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HelloWorld</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Alerts" asp-action="Index">Configuration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HelloWorld - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var closeBtn = document.querySelector('#alertBar .close-btn');

            closeBtn.addEventListener('click', function () {
                var alertBar = document.getElementById('alertBar');
                alertBar.style.display = 'none';

                $.ajax({
                    url: '@Url.Action("ClearSession", "Alerts")',
                    type: 'POST',
                    success: function () {
                        console.log("Alert dismissed successfully");
                    },
                    error: function () {
                        console.log("Error dismissing alert");
                    }
                });
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 *@

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloWorld.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        @if (@* TempData["message"] *@ @HttpContextAccessor?.HttpContext?.Session.GetString("_Message") != null)
        {
            <div id="alertBar" class="navbar navbar-dark bg-dark border-bottom box-shadow text-white">
                <div class="mx-3" align="justify">
                    IMPORTANT : @* @TempData["message"] *@  @HttpContextAccessor?.HttpContext?.Session.GetString("_Message")
                    @* <a href="@TempData["link"]" class="mx-4">Know more -></a> *@
                    <a href="@HttpContextAccessor?.HttpContext?.Session.GetString("_Link")" class="mx-4">Know more -></a>
                </div>
                <span class="close-btn mx-4" style="cursor:pointer">&times;</span>
            </div>
        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HelloWorld</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Alerts" asp-action="Index">Configuration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HelloWorld - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var closeBtn = document.querySelector('#alertBar .close-btn');

            closeBtn.addEventListener('click', function () {
                var alertBar = document.getElementById('alertBar');
                alertBar.style.display = 'none';

                $.ajax({
                    url: '@Url.Action("ClearSession", "Session")',
                    type: 'POST',
                    success: function () {
                        console.log("Session cleared successfully");
                    },
                    error: function () {
                        console.log("Error clearing session");
                    }
                });
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>